.container {
    margin-top: 50px;
}

#uploadPreview, #preview {
    margin-top: 30px;
}

#drop-zone {
  border: 2px dashed rgb(187, 187, 187);
  border-radius: 5px 5px 5px 5px;
  padding: 50px;
  text-align: center;
  color: rgb(87, 87, 87);
  margin-top: 30px;
  margin-bottom: 30px;
  }

  canvas {
  max-width: 100%;
  }